{% extends "layout.html" %}
{% block content %}

<body>

<div class= "container m p">

<p class= "my-3 px-3 py-3 bg-success text-white"> O portal Pesque bem atua no sentido de manter suas informações acessíveis ao maior número possível de 
interessados e tem especial atenção com o acesso de pessoas com deficiência. Os programas internos do site contemplam os cuidados necessários para que as 
páginas funcionem adequadamente nas ferramentas que viabilizam a navegação de pessoas com deficiência visual. 
O site também disponibiliza a ferramenta Vlibras, que traduz o conteúdo das páginas em libras. Ela aparece em um ícone a direita, em todas as páginas. </p>

<hr>

<h4 class= "my-2"> Sugestões de Ferramentas de Acesso para Pessoas com Deficiência Visual </h4>

<table class="table">
  <tr>
    <th scope="col" class="mx-auto">Ferramenta / Descrição </th>
  </tr>
  <tr>
    <td><strong>NVDA</strong><br><br>Ferramenta gratuita desenvolvida por Michael Curran and James Teh. Oferece excelentes recursos, muitos deles 
	implementados a partir de sugestões dos proprios usuários.<br>Website: https://www.nvaccess.org/download/</td>
    </tr>
	<tr>
    <td><strong>Virtual Magnifying Glass</strong><br><br>Amplificador de tela muito fácil de usar. Ideal para pessoas com problema de baixa visão 
	ou dificuldades visuais temporárias. Acesso gratuito.<br>Website: http://magnifier.sourceforge.net/</td>
  </tr>
		
</table>
<hr>

</div>
</body>
	
{% endblock content %}
