{% extends 'layout.html' %}

{% block content %}

	<div class= "container m p">

	<p class= "my-3 px-3 py-3 bg-info text-white">Aproveite as oportunidades de negócios oferecidas no mural de vendas do Pesca Bem. Os mais variados itens 
	relacionados a pesca estão anunciados aqui pelos membros da comunidade. Há anunciantes de todos os estados do Brasil. Seja divulgando seu item ou consultando os
	que estão disponíveis, você contará com ótimas oportunidades para fazer negócio.</p>

	<div class= "pt-1 pb-1">	
	    <h1>{% block title %}Anúncios Vigentes{% endblock %}</h1>
	</div>
	<hr>

    {% for post in posts %}
	
			<div class="col-sm-3">

            <img class="img-fluid mx-auto py-3" alt="Responsive image" src="{{ post['foto2']}}"> <br><br>
			</div>
			
			<h4>{{ post['titulo']}}</h4> 
			<p> Descrição: {{ post['texto']}}</p> 
			<p> Data de Lançamento: {{ post['dt_inclusao']}}</p> 
			<p> Cidade: {{ post['cidade']}}</p> 
			<p> Estado: {{ post['estado']}}</p> 
			<p> Nome do Anunciante: {{ post['nomeAnunciante']}}</p> 
			<p> Telefone para Contato: {{ post['telcont']}}</p> 
			<p> Número do Anúncio: {{ post['id']}}</p> 
			
            
            <hr>
			            
    {% endfor %}
	
	</div>
	
{% endblock %}
