{% extends "layout.html" %}
{% block content %}

<div class= "container m p">

    <div class="form-wrapper">
	
	  <br>	
      <h2 class="title">Cadastro de Novo Anúncio</h2>
	  <br>
	  
      <form method="POST" action="{{ url_for('postaAnuncio') }}" enctype="multipart/form-data">
	  
	   {{ form.csrf_token }}
	 
          <fieldset class="form-group border p-3">
		      
              <legend class="w-auto px-2">{{ form.foto.label}}</legend>
			  <div class="form-group">
		       {{ form.foto}}
			  </div>
			
			{% if form.foto.errors %}
				<ul class="errors">
					{% for error in form.foto.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			  		  
          </fieldset>
				  
		  <fieldset class="form-field p-1">
		      
             <label for="username"> {{ form.titulo.label}}</label>
             <input type="text" class="form-control username"{{ form.titulo}} 
			
			{% if form.titulo.errors %}
				<ul class="errors">
					{% for error in form.titulo.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %} 
			  		  
          </fieldset>
		  		  
		  <fieldset class="form-field p-1">
		      
              {{ form.texto.label}}
              <input type="text" class="form-control username"{{ form.texto}}
			
			{% if form.texto.errors %}
				<ul class="errors">
					{% for error in form.texto.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			  		  
          </fieldset>
		  
		  <fieldset class="form-field p-1">
		      
              {{ form.dt_inclusao.label}}
              <input type="text" class="form-control username"{{ form.dt_inclusao}}
			
			{% if form.dt_inclusao.errors %}
				<ul class="errors">
					{% for error in form.dt_inclusao.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			  		  
          </fieldset>
		 
		 
			<fieldset class="form-field p-1">
		      
              {{ form.cidade.label}}
              <input type="text" class="form-control username" {{ form.cidade}}
			
			{% if form.cidade.errors %}
				<ul class="errors">
					{% for error in cidade.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			</fieldset>		
		  
		  
		  <fieldset class="form-field p-1">
		      
              {{ form.estado.label}}
              <input type="text" class="form-control username" {{ form.estado}}
			
			{% if form.estado.errors %}
				<ul class="errors">
					{% for error in estado.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			</fieldset>	

			<fieldset class="form-field p-1">
		      
              {{ form.nomeAnunciante.label}}
              <input type="text" class="form-control username" {{ form.nomeAnunciante}}
			
			{% if form.nomeAnunciante.errors %}
				<ul class="errors">
					{% for error in nomeAnunciante.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			</fieldset>					
			
			 <fieldset class="form-field p-1">
		      
              {{ form.telcont.label}}
              <input type="text" class="form-control username"{{ form.telcont}}
			
			{% if form.telcont.errors %}
				<ul class="errors">
					{% for error in telcont.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			</fieldset>		
			<br>
		  		  
	 {{ form.submit }}
	 
      </form>
    </div>
</div>

{% endblock %}
